.contact__container {
  container-type: inline-size;
}

.contact__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @container (width >= 600px) {
    grid-template-columns: 30% 60%;
    gap: 10%;
  }
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__item {
  padding: 1.2rem;
  border: 1px solid transparent;
  border-radius: 1.2rem;

  background: var(--color-bg-variant);
  text-align: center;

  transition: var(--transition);
}

.contact__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.contact__item-icon {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.contact__item a {
  display: inline-block;
  margin-top: 0.7rem;
  font-size: 0.8rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--color-primary-variant);
  border-radius: 0.5rem;
  resize: none;

  background: transparent;
  color: var(--color-white);
  font-family: inherit;
  font-size: 1rem;
}

.btn-form {
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  font-size: inherit;

  @container (width >= 600px) {
    margin: 0;
  }
}

/* ================ Media queries (large devices) =============== */
@media screen and (min-width: 1280px) {
  input,
  textarea {
    padding: 1.5rem;
  }
}
